.pizza
  +item_('Пицца Пепперони на тон...','Пепперони, моцарелла, том....','images/pizza.png')
  +item_('Пицца Пепперони на тон...','Пепперони, моцарелла, том....','images/pizza.png')
  +item_('Пицца Пепперони на тон...','Пепперони, моцарелла, том....','images/pizza.png')